<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VokemonS</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/home.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src='{{ url_for("static", filename="script/main.js") }}'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='snorlax.ico') }}" type="image/x-icon">
    <script>
        function logout() {
            // Hapus cookie 'mytoken' menggunakan JavaScript murni
            document.cookie = 'mytoken=; Path=/; Expires=Thu, 01 Jan 1970 00:00:00 UTC; SameSite=None; Secure';
            
            // Hapus cookie 'mytoken' menggunakan plugin jQuery Cookie (jika terpakai)
            $.removeCookie('mytoken', { path: '/', expires: 1, sameSite: 'None', secure: true });
            
            // Tampilkan pesan logout (opsional)
            alert('You have been logged out!');
            
            // Redirect ke halaman utama atau endpoint logout jika ada
            window.location.href = '/logout';  // Ganti '/logout' dengan URL logout yang sesuai
        }
        </script>
</head>

<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->
<!-- NAVIGATION BAR -->

<body>
    <header class="nav-container">
        <a href="{{ url_for('home') }}" class="logo">VokemonS</a>
        <nav class="navbar">
            <a href="{{ url_for('home') }}" class="underline">HOME</a>
            <a href="{{ url_for('news') }}">NEWS</a>
            <a href="{{ url_for('vokemon') }}">VOKEMON</a>
            <a href="{{ url_for('tournament') }}">TOURNAMENT</a>
        </nav>


        {% if logged_in %}
        <div class="dropdown">
            <a href="#" class="profile">
                <img src="{{ url_for('static', filename=logged_in.profile_pic_default) }}" alt="Profile Image">
            </a>
            <div class="dropdown-content" id="dropdownContent">
                <a href="{{ url_for('profile') }}">{{ logged_in.username }}</a>
                <a href="{{ url_for('logout') }}">Log Out</a>  <!-- Tombol logout -->
            </div>
        </div>
        {% else %}
        <div class="navbar-resp">
            <a href="{{ url_for('login') }}" class="register">REGISTER/LOGIN</a>
            <label for="" class="icon-menu">
                <i class='bx bx-menu' menu-dropdown></i>
            </label>
        </div>
        {% endif %}



    </header>

    <section>
        <div class="title-container">
            <video src="/static/videos/Underwater Pokémon Battle.mp4" autoplay muted loop width="100%"
                height="auto"></video>
            <p class="big-title">VokemonS</p>
            <p class="small-title">Gotta Catch 'em All!</p>
            <a href="{{ url_for('register') }}" class="btn">PLAY FOR FREE</a>
        </div>

        <div class="black-shadow-hr-abs"></div>

        <div class="content-container">
            <img src="/static/wallpaper/pokemonwp7.jpg" class="bg-wallpaper" width="100%" height="100%" alt="wp">

            <h1 class="content-header-container">LATEST NEWS</h1>
            <div class="img-content-container">
                TOURNAMENT
                <a href="{{ url_for('tournament') }}">
                    <img src="/static/images/pokemontourney.jpg" class="img-content" height="200px" width="300px"
                        alt="VokemonS Tournament">
                </a>
                <p>The meticulous preparation of a tournament is a symphony of organization and dedication, harmonizing
                    the logistical intricacies required to orchestrate a seamless and memorable event. Months, and often
                    years, of careful planning go into selecting venues, coordinating schedules, and securing sponsors
                    to ensure the tournament's success. Tournament organizers work tirelessly to establish a robust
                    infrastructure that caters to the needs of players, spectators, and media alike.</p>
            </div>

            <div class="img-content-container">
                COMMUNITY EVENTS
                <a href="{{ url_for('news') }}">
                    <img src="/static/images/pokemoncommunity.jpg" class="img-content" height="200px" width="300px"
                        alt="VokemonS Community Event">
                </a>
                <p>Pokemon Community Day is a much-anticipated celebration within the vibrant and global Pokemon
                    community, bringing trainers together in a shared quest for rare catches and heightened camaraderie.
                    Occurring monthly, this special event shines a spotlight on a particular Pokemon species, turning
                    local parks and public spaces into bustling hubs of activity. During these designated hours, the
                    chosen Pokemon becomes more prevalent in the wild, offering trainers a unique opportunity to
                    capture, evolve, and even encounter its shiny variant. Community Day not only fosters a sense of
                    unity among players but also encourages social interaction, as trainers trade tips, share
                    experiences, and collaborate to maximize their Pokemon-catching endeavors. </p>
            </div>

            <div class="img-content-container">
                UPDATES
                <a href="{{ url_for('news') }}">
                    <img src="/static/images/pokemonupdate.jpg" class="img-content" height="200px" width="300px"
                        alt="VokemonS Updates">
                </a>
                <p>New Pokemon updates herald an era of excitement and anticipation within the global Pokemon community,
                    as trainers eagerly await fresh content, features, and discoveries in their favorite Pokemon games.
                    These updates, often delivered by game developers like Game Freak or Niantic, introduce a myriad of
                    enhancements ranging from new Pokemon species, evolutions, and regional variations to additional
                    gameplay mechanics and events</p>
            </div>
        </div>


        <div class="black-shadow-hr">
            <h1>I Choose You!</h1>
            <p>Assemble a team of Vokemon with diverse abilities and powers. Your choices will shape your destiny as you
                train and evolve them into powerful companions.</p>
        </div>

        <!-- VOKEMON LIST -->
        <!-- VOKEMON LIST -->
        <!-- VOKEMON LIST -->
        <!-- VOKEMON LIST -->
        <!-- VOKEMON LIST -->
        <!-- VOKEMON LIST -->
        <!-- VOKEMON LIST -->
        <!-- VOKEMON LIST -->
        <!-- VOKEMON LIST -->
        <!-- VOKEMON LIST -->

        <div class="vokemons-container">
            <img src="/static/wallpaper/pokemonwp9.jpg" class="bg-wallpaper" width="100%" height="auto" alt="wp">

            <div class="list-vokemons-header-container">
                <div class="list-vokemons-header">
                    <p>There are over 1000 of unique Vokemon species, each with its own abilities, types, and
                        characteristics!</p>
                </div>
            </div>

            <a href="{{ url_for('vokemon') }}">
                <div class="btn-resp">Vokemon List</div>
            </a>

            <div class="img-vokemon-container">
                <a href="/static/pages/vokemon.html">
                    <img src="/static/images/pikachu.png" class="img-vokemon1" height="200px" width="200px"
                        alt="pikachu">

                    <img src="/static/images/charizard.png" class="img-vokemon2" height="200px" width="200px"
                        alt="charizard">

                    <img src="/static/images/gengar.png" class="img-vokemon3" height="200px" width="200px" alt="gengar">

                    <img src="/static/images/eevee.png" class="img-vokemon1" height="200px" width="200px" alt="eevee">

                    <img src="/static/images/snorlax.png" class="img-vokemon2" height="200px" width="200px"
                        alt="snorlax">

                    <img src="/static/images/scizor.png" class="img-vokemon3" height="200px" width="200px" alt="scizor">

                    <img src="/static/images/bulbasaur.png" class="img-vokemon1" height="200px" width="200px"
                        alt="bulbasaur">

                    <img src="/static/images/charmander.png" class="img-vokemon2" height="200px" width="200px"
                        alt="charmander">

                    <img src="/static/images/gyarados.png" class="img-vokemon3" height="200px" width="200px"
                        alt="gyarados">

                    <img src="/static/images/jigglypuff.png" class="img-vokemon1" height="200px" width="200px"
                        alt="jigglypuff">

                    <img src="/static/images/magikarp.png" class="img-vokemon2" height="200px" width="200px"
                        alt="magikarp">

                    <img src="/static/images/lapras.png" class="img-vokemon3" height="200px" width="200px" alt="lapras">
                </a>
            </div>
        </div>

        <!-- TOURNAMENT -->
        <!-- TOURNAMENT -->
        <!-- TOURNAMENT -->
        <!-- TOURNAMENT -->
        <!-- TOURNAMENT -->
        <!-- TOURNAMENT -->
        <!-- TOURNAMENT -->
        <!-- TOURNAMENT -->
        <!-- TOURNAMENT -->
        <!-- TOURNAMENT -->
        <!-- TOURNAMENT -->

        <div class="tournament-container">
            <img src="/static/wallpaper/pokemonwp3.jpg" class="bg-wallpaper" width="100%" height="auto" alt="">

            <div class="tournament-header-container">
                <h1>Watch the Pros</h1>

                <a href="{{ url_for('tournament') }}">
                    <div class="btn-resp-tourn">Watch the Pros</div>
                </a>

                <h2>Join us as we bring you the VokemonS Pro Tournament – the pinnacle of competitive VokemonS battles.
                    Watch world-class Trainers strategize, outwit their rivals, and unleash their most powerful VokemonS
                    in a high-stakes arena!</h2>
            </div>

            <div class="img-tournament-container">

                <div class="img-tournament">
                    <a href="{{ url_for('tournament') }}">
                        <img src="/static/images/tournScreenshot.png" class="img-content-tournament" height="300px"
                            width="500px"
                            alt="Pokkén Tournament Seniors Grand Finals - Fruitprime vs Wefroe | Pokémon Worlds 2022">
                    </a>
                </div>

                <div class="img-tournament">
                    <a href="{{ url_for('tournament') }}">
                        <img src="/static/images/tournScreenshot (3).png" class="img-content-tournament" height="300px"
                            width="500px" alt="VG Day 1 | 2023 Pokémon World Championships">
                    </a>
                </div>

                <div class="img-tournament">
                    <a href="{{ url_for('tournament') }}">
                        <img src="/static/images/Screenshot (20).png" class="img-content-tournament" height="300px"
                            width="500px"
                            alt="Pokkén Tournament Masters Grand Finals - Shadowcat vs Mewtater | Pokémon Worlds 2022">
                    </a>
                </div>

                <div class="img-tournament">
                    <a href="{{ url_for('tournament') }}">
                        <img src="/static/images/Screenshot (19).png" class="img-content-tournament" height="300px"
                            width="500px"
                            alt="2022 Pokémon North America International Championships: VGC Master Division Finals">
                    </a>
                </div>
            </div>

        </div>

    </section>

    <!-- FOOTER -->
    <!-- FOOTER -->
    <!-- FOOTER -->
    <!-- FOOTER -->
    <!-- FOOTER -->
    <!-- FOOTER -->
    <!-- FOOTER -->
    <!-- FOOTER -->
    <!-- FOOTER -->
    <!-- FOOTER -->

    <footer>

        <br>

        <p>&copy; 2023 VokemonS</p>
        <br>
        <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>

        <br>
        <p class="footer-copyright">VokemonS and the VokemonS logo are trademarks and/or</span>
        <p class="footer-copyright">registered trademarks of BINUS Corporation.</span>
        <p class="footer-copyright">2023 BINUS Corporation, all rights reserved.</span>
            <br>


    </footer>

</body>


</html>